.media-objects {
    margin: 0 auto;
    padding: $base-spacing;
    width: 90%;
    max-width: 1100px;
}

.about {
    background-color: #d3a6a6;
    padding: 20px;
    h2 {
        text-align: center;
    }
}
.contact {
    background-color: $color-light-blue;
    padding: 10px;
    h2 {
        text-align: center;
    }
}