// .container {
//     margin: 0 auto;
//     padding: $base-spacing;
//     width: 90%;
//     max-width: 1100px;
// }

.section__a {
    margin: 20px auto;
    width: 90%;
}
.section__b {
    background-color: $secondary__accent-color;
}
.section__b p {
    width: 90%;
    margin: 10px auto;
    padding: 10px;
    color: $white;
}
.section__c {
    padding: 10px;
    width: 90%;
    margin: 10px auto;
}
.section__c img {
    width: 200px;
}