button,
.btn {
	display: inline-block;
	width: auto;
	padding: 0.75rem 1.5rem;
	margin: 0 0 $base-spacing;
	color: $color-off-white;
	font-weight: bold;
	transition: all $base-transition-duration $base-transition-timing;
	cursor: pointer;
    border-radius: $base__border-radius;
    border: 3px solid $dark-grey;
	box-shadow: $base__box-shadow;
}
btn:hover,
btn:focus {
	background-color: darken($base__accent-color, 10%);
	color: $base__background-color;
	box-shadow: $hover-box-shadow;
}

.btn--light {
	background-color: darken($base__background-color, 10%);
	color: $base__accent-color;
	
	&:hover,
	&:focus {
		background-color: darken($base__background-color, 20%);
		color: darken($base__accent-color, 10%);
	}
}

.btn--dark {
	background-color: $base__font-color;
	
	&:hover,
	&:focus {
		background-color: lighten($base__font-color, 90%);
		color: $base__accent-color;
	}
}

.btn--secondary {
	background-color: $secondary__accent-color;
    border-color: $secondary__accent-color;
    color: $secondary__accent-color;
    
	&:hover,
	&:focus {
        background-color: $color-off-white;
    }
    &:hover a {
        color: $secondary__accent-color;
    }
    &:active a {
        color: $base__font-color;
    }
    a {
        color: $color-off-white;
    }
}
.btn--secondary-outline {
	background-color: $base__accent-color;
	border-color: $base__accent-color;
	color: $secondary__accent-color;
	
	&:hover,
	&:focus {
		background-color: $color-off-white;
    }
    &:hover a {
        color: $base__accent-color;
	}
	&:active a {
        color: $base__font-color;
    }
    a {
        color: $color-off-white;
    }
}
