.media {
	display: flex;
	flex-wrap: nowrap;
	margin: 0 0 $base-spacing;
}
.media__list--title {
    margin: 10px 0 40px 0;
   text-align: center;
}
.media__item {
    // margin: 0 0 $base-spacing;
    margin: 0 $base-spacing $base-spacing 0;
    
	img {
        display: block;
        width: 500px;
        height: 350px;
	}
}

.media__body {
    // margin-left: $base-spacing;
    margin: 40px 0px 50px 100px;
    // padding: 0px 0 0 20px;
}
.media__body--reversed {
    // margin-left: $base-spacing;
    margin: 50px 100px 50px 0px;
}

.media__body--title {
	margin: 0 auto;
	color: $base__accent-color;
}

.media__item--reversed {
    order: 1;
    // margin: 0 0 $base-spacing $base-spacing;
    margin: 0 100px 0 0;
  }