footer {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    background: $base__accent-color;
    color: $white;
    padding: 10px;
    bottom: 0px;
    left: 0px;
    right: 0px;
  }
  footer ul {
    display: flex;
  }
  .footer__links li {
    margin: 0 30px 20px 0;
    flex: 1 1 auto;
  }
  .footer__social-icons li {
    padding: 10px;
  }
  footer li a {
   color: $white;
   display: block;
  }
  ul.footer__social-icons {
    margin: 0 10px;
  }
  .footer__links {
    margin: 20px;
  }
