// Spacing
$base-spacing: 1rem;

// Typography
$base__font-size: 1rem;
// $base__line-height: 1.3;
$base__line-height: 1.5;
$header-line-height: 1.25;

// Color Vars
$white: #fff;
$color-blue: #1b232b;
$color-red: #841313;
$color-pink: #dfb3b3;
$color-off-white: #EEE9E4;
$color-light-blue: #7f99b3;
$light-grey: #ededed;
$dark-grey: #333;

// Colors Base
$base__accent-color: $color-blue;
$secondary__accent-color: $color-red;
$base__font-color: desaturate(darken($base__accent-color, 30%), 50%);
$base__background-color: $color-off-white;

// Transition Settings
$base-transition-duration: .3s;
$base-transition-timing: ease-in-out;

// Border Radius
$base__border-radius: 2rem;

// Borders
$base-border: 3px solid darken($base__accent-color, 20%);

// Shadow
$base__box-shadow: 0 2px 2px 0 rgba(black, 0.2);
$hover-box-shadow: 0 2px 2px 0 rgba(black, 0.4);

// Typography Breakpoints
$breakpoints: (
    xs : 20em, //320px
    sm : 36em, //576px
    md : 48em, //768px
    lg : 62em, //992px
    xl : 75em //1200px
);
$html-font-sizes: (
    null : (100%, 1.2),
    xs : (85%, 1.2),
    sm : (90%, 1.25),
    md: (95%, 1.3),
    lg : (100%, 1.35),
    xl: (105%, 1.4)
);